@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body {
  font-family: "SF Pro Display", sans-serif;
  /* background: #14141f !important; */
  background-image: url("../src/assets/images/bg.webp");
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-position: center;
}

h1,
h2 {
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: white;
  opacity: 85%;
  line-height: 35px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section,
footer {
  padding: 60px 0px;
}

::-webkit-scrollbar {
  width: 6px;
  background: #343444;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: linear-gradient(-45deg, #e250e5, #4b50e6);
}
